@model Project1.Models.Department
@{ ViewData["Title"] = "Edit Deparment Page"; }


<div class="container">
    <div class="row">
        <div class="col"></div>

        <div class="col-sm-8">
            <div class="card-body">
                <h3> Deparment Id: @Html.DisplayFor(x => x.Id)</h3>
                <form action="/Department/UpdateDep" method="post">
                    <table class="table">
                        <tr style="visibility: hidden;">
                            <th>ID:</th>
                            <td>
                                @Html.HiddenFor(x => x.Id, new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                        </tr>
                        <tr>
                            <th>Department Name</th>
                            <td>@Html.EditorFor(x => x.DepName)</td>
                        </tr>
                        <tr>
                            <th>Manager</th>
                            <td>
                                <select name="Manager">
                                    @foreach (var item in ViewBag.List)
                                    {
                        <option value=@item.Id>@item.FirstName @item.LastName</option>
}
                                </select>
                            </td>
                        </tr>
                    </table>
                    <input class="btn btn-primary" type="submit" value="Submit">
                </form>
            </div>
        </div>

        <div class="col"></div>
    </div>
</div>
