@{ ViewData["Title"] = "Add Shift Page"; }

<br />
<br />
<br />


<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-sm-8">
            <div class="card-body">
                <h4>Add Shift Page</h4>
                <h6>Employee ID: @ViewBag.empID</h6>
                <h6>Employee Name: @ViewBag.EmpName</h6>
                <form action="/Employee/UpdateShifts" method="post">

                    <input  name="empID" value=@ViewBag.empID style="visibility: hidden;">
                    <h5>Select a shift to add:</h5>
                    <select name="shiftID">
                        <option value=""></option>
                        @foreach (var item in ViewBag.shiftsList)
                        {
            <option value=@item.Id>@item.ShiftDate, @item.StartTime:00 - @item.EndTime:00</option>
}
                    </select>
                    <input class="btn btn-primary" type="submit" value="Submit">
                </form>
            </div>
        </div>

        <div class="col"></div>
    </div>
</div>
